# Parametry aplikacji LPN Mock sterowane flaga builda (-DCONFIG_...=...).
# Te same symbole co w aplikacji lpn - dla spojnosci pomiarow.

config LPN_SENSOR_INTERVAL_S
	int "Interwal publikacji (fake) temperatury do Frienda [s]"
	default 10
	range 1 86400
	help
	  Odstep miedzy kolejnymi publikacjami Sensor Server -> Friend.
	  Sterowane build-time: -DCONFIG_LPN_SENSOR_INTERVAL_S=<sekundy>.

source "Kconfig.zephyr"
